<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<h2>Welcome <small></small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Shorten the hiring process</h1>
			<h3>By keeping things simple:</h3>
			<br />
			<h4>For candidates: </h4>
			<li>Fill out your basic profile </li>
			<li>Sign in and upload your best pictures and videos showcasing your skills</li>
			<li>Or add links to other social medias that showcase your talent</li>
			<li>Let the employers see and judge for themselves (if they love your posts, they'll contact you)</li>
			<li>Or they'll contact you to ask for more question</li>
			<br />
			<h4>For employers:</h4>
			<li>Post jobs by filling out profile and job requirements</li>
			<br />
			<h4>Filter search by: </h4>
			<li>Location</li>
			<li>Jobs</li>
			<li>Skills</li>
			<br />
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>
		</div>
	</div>
</div>